<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<title>IMostrando las personas</title>
		<link th:href="@{/css/encabezados.css}" rel="stylesheet" />
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Fecha Nacimiento</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${personas}">
			        <td th:text="${p.nombre}"></td>
			        <td><a href="#" th:text="${p.apellido}" onclick="mostrarMensaje()"></a></td>
			        <td th:text="${p.fechaNacimiento}"></td>
			    </tr>
			</tbody>
		</table>
		<script th:src="@{/js/message.js}" type="text/javascript"></script>
	</body>
</html>